extends layout

block content
  

  .container-fluid#master-container
    .row#row-1
      .col-lg-3
      .col
        .container-fluid#main-heading
        h1.display-5.white-text Lorem Ipsum Generator
        hr#heading-underline(align="left")
        p.white-text Created with Express, Bootstrap, MongoDB, and Pug

    .row.center#row-2
      //- Instructions
      .col.mb-5
        #instructions.white-text
          h5 How to use the generator —
          ul#instructions-list
            li Input quantity
            li Select content type
            li Select generator template
            li Click 'Generate'
            li Click 'Copy' to save text to clipboard
      
      //- Generator
      .col-lg-9
        .card.rounded
          .card-header.rounded-top
            form#selection-form(name='options', action='/lorem/', method='POST')
              .form-row#selection-form-row

                //- Hidden Column
                .col.d-none.d-lg-block.d-xl-none

                //- Quantity Select
                .col.col-sm-5.col-md-6.col-lg-3.col-xl-2.center#quantity-select-column
                  input#quantity-select(type='number', placeholder='How Many?', name='quantity')

                //- Type Select
                .col-sm-7.col-md-6.col-lg-5.col-xl-4.center#type-select-column
                  .btn-group.btn-group-toggle(data-toggle="buttons").m-2#select-button-group
                    label.btn.btn-light.active#input-label-paragraphs
                      input#select-paragraphs(type="radio", name="typeSelected" value="Paragraphs" checked)
                      | Paragraphs
                    label.btn.btn-light#input-label-lists
                      input#select-lists(type="radio", name="typeSelected" value="Lists")
                      | Lists
                    label.btn.btn-light#input-label-words
                      input#select-words(type="radio", name="typeSelected" value="Words")
                      | Words
                
                //- Variety Select
                .col-sm-6.col-md-6.col-lg-3.col-xl-3.center#variety-column
                  select.form-control#variety-select(name="variety").m-2
                    option(value="Lorem Ipsum") Lorem Ipsum
                    option(value="Cupcake Ipsum") Cupcake Ipsum
                    option(value="Hipster Ipsum") Hipster Ipsum

                //- Hidden Column
                .col.d-none.d-lg-block.d-xl-none

                //- Generate & Copy 
                .col.center.col-xl-3#generate-copy-column
                  button.btn.btn-success#generate-button(type="submit") Generate
                  button.btn.btn-light#copy-button(data-toggle="popover") Copy
          
          .card-body#generated-text-card
            #lorem-ipsum-text
              if (values)
                if (values.type_selected === 'Paragraphs')
                  each paragraph in values.generated_text
                    p= paragraph
                else if (values.type_selected === 'Words')
                  p= values.generated_text
                else
                  ul
                    each listItem in values.generated_text
                      li= listItem

    .row
      .col-lg-3
      .col.center
        p.blue-text.mt-3 Special thanks to #[a(href='http://www.cupcakeipsum.com/') Cupcake Ipsum] and #[a(href='https://hipsum.co/') Hipster Ipsum] for letting me borrow your generated text :D

        
