/* * {
  border: red solid 1px;
} */

#selection-form {
	margin-bottom: 40px;
}

#weird-row {
	width: 100%;
}

#generatedTextCard {
	width: 90%;
	background-color: aquamarine;
}

.title-2 {
	/* width: 80%; */
	/* margin: 0 auto; */
	margin-bottom: 20px;
}

#loremIpsumText {
	/* width: 80%; */
	margin: 0 auto;
}

.navbar-brand {
	margin-top: 50px;
}
