/* ______________________________ */

/* LAYOUT STYLES */

/* ______________________________ */

* {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	letter-spacing: 0.5px;
}

#master-container {
	max-width: 1400px;
	margin-top: 2.5rem;
}

#master-container, #main-heading {
	width: 90%;
}

#heading-underline {
	border: none;
	height: 3px;
	max-width: 60%;
}

#instructions-list {
	padding-left: 1rem;
}

#selection-form-row {
	width: 100%;
	margin: 0;
}

#quantity-select {
	height: 38px;
	text-align: center;
	border-radius: 0.5rem;
}

#quantity-select, #variety-select {
	width: 100%;
}

#row-2 {
	margin-top: 2.5rem;
}

#generated-text-card {
	height: 470px;
	padding: 48px 48px;
}

#lorem-ipsum-text {
	height: 420px;
	overflow: auto;
}

#generate-button,
#copy-button,
#quantity-select {
	margin: 8px 4px;
}

.btn {
	padding: 8px;
}

#select-button-group {
	width: 100%;
}

#input-label-paragraphs {
	width: 50%;
}

#input-label-lists, #input-label-words {
	width: 25%;
	min-width: 80px;
}

@media (min-width: 0px) {
	#generated-text-card {
		padding: 24px;
	}
}

@media (min-width: 768px) {
	#generated-text-card {
		padding: 24px;
	}
}

/* ______________________________ */

/* DISPLAY CLASSES */

/* ______________________________ */

.center {
	display: flex;
	justify-content: center;
}

.end {
	display: flex;
	justify-content: flex-end;
}

.rounded {
	border-radius: 1rem !important;
}

.rounded-top {
	border-top-left-radius: 1rem !important;
	border-top-right-radius: 1rem !important;
}

/* ______________________________ */

/* COLORS */

/* ______________________________ */

body {
	background-color: #778899;
}

#heading-underline {
	background-color: #495561;
}

.card-header {
	background-color: #495561;
}

.white-text {
	color: #fff;
}

.blue-text {
	color: #495561;
}

a {
	color: #fff;
}

a:hover {
	color: red;
}

/* ______________________________ */

/* REMOVE DEFAULT STYLES */

/* ______________________________ */

.card-header {
	padding: 0;
}

.card {
	border: none;
}

form {
	margin: 0;
}

.btn {
	outline: none;
	box-shadow: none !important;
	border: none;
}

input, select {
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
}

input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

label.btn.btn-light.active {
	background-color: #cacaca !important;
	outline: none;
	box-shadow: none !important;
}

/* ______________________________ */

/* CUSTOM STYLES FOR GENERATE BUTTON */

/* ______________________________ */

.btn-success:hover {
	color: #fff;
	background-color: #279c71;
}

.btn-success:focus, .btn-success.focus {
	box-shadow: 0 0 0 0.2rem #30c48e;
}

.btn-success.disabled, .btn-success:disabled {
	color: #fff;
	background-color: #30c48e;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show>.btn-success.dropdown-toggle {
	color: #fff;
	background-color: #30c48e;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus, .show>.btn-success.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 90, 90, 0.5);
}

.btn-success {
	color: #fff;
	background-color: #30c48e;
	border: none;
}